:root {
    --main-color: #eee1b3;
    --secondry-color: #581f18;
    --black-color: #1a270d;
}

body {
    margin: 0;
    overflow-x: hidden;
}


* {
    font-family: 'Cairo', sans-serif;
}

.blob {
    width: 60%;
    position: absolute;
    top: 350px;
    right: -300px;
    animation: blob;
    animation-duration: 30s;
    z-index: -1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blob {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* nav */
nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

nav .main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-color);
    padding: 10px;
}

nav .main .part {
    flex-basis: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav .main .part .search form {
    display: flex;
}

nav .main .part .search form input {
    border-radius: 4px;
    height: 35px;
    width: 300px;
    direction: rtl;
    font-size: 16px;
    text-indent: 5px;
    border: none;
    outline: none;
}

nav .main .part .search form button {
    background-color: var(--secondry-color);
    height: 35px;
    width: 80px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
}

nav .main .part .search form button i {
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
    -webkit-text-stroke: 1px;
}

nav .main .part button {
    position: relative;
    background-color: transparent;
    border: none;
    margin: 0 10px;
}

nav .main .part div a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

nav .main .part button .count {
    background-color: #ffffffaa;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    top: 0px;
    right: -7px;

    position: absolute;
    z-index: 1;
}

nav .main .part button .count span {
    color: var(--secondry-color);
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

nav .main .part button i {
    color: var(--secondry-color);
}

nav .main .part button i,
nav .main .part div a i {
    font-size: 28px;
    -webkit-text-stroke: 1px;
}

nav .main .part img {
    height: 90px;
}

nav .secondry {
    background-color: var(--black-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .secondry .links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 70%;
}

nav .secondry .links a {
    color: #fff;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .secondry .links a:hover {
    background-color: #ffffff;
    color: var(--black-color);
    margin: 0;
    transition: 0.3s;
}

#myCarousel {
    width: 100%;
    position: relative;
    top: 159px;
    height: 522px !important;
}

.carousel-inner {
    /* border-radius: 0 0 80px 80px; */
}

#myCarousel .carousel-item img {
    height: 522px !important;
    width: 100% !important;
}

svg {
    opacity: 0.6 !important;
}

svg:nth-child(1) {
    position: absolute;
    top: 330px;
    right: -240px;
    width: 700px;
}

svg:nth-child(2) {
    position: absolute;
    top: 1200px;
    left: -400px;
    width: 700px;
}

svg:nth-child(3) {
    position: absolute;
    top: 1700px;
    right: -290px;
    width: 700px;
}

svg:nth-child(4) {
    position: absolute;
    top: 2300px;
    transform: translateX(-50%);
    right: 45%;
    width: 900px;
}

main {
    position: relative;
    top: 60px;
}

section:nth-child(1) {
    margin-top: 180px;
}

main section {
    display: flex;
    flex-direction: column;
}

main section .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section .title h3 {
    position: relative;
    z-index: 2;
}

main section .title img {
    position: relative;
    top: -133px;
    width: 200px;
    opacity: 0.3;
    margin: auto;
    z-index: 0;
}

.slider-products {
    align-self: center;
    position: relative;
    top: -110px;
    width: 80%;
    overflow: hidden;
    margin: auto;
}

section .container {
    position: relative;
}

section .container>button {
    background-color: transparent;
    border: none;
    width: 100px;
    height: 500px;
    display: flex;
    justify-content: center;
    position: absolute;
}

section .container>button.left {
    left: 20px;
    top: 15px;
}

section .container>button.right {
    right: 20px;
    top: 15px;
}

section .container>button i {
    font-size: 40px;
}

.slider-products .products {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    transition: all 0.3s ease-in-out;
}

.slider-products .products .product {
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 80px;
    border: 2px solid var(--main-color);
}

.slider-products .products .product .image {
    overflow: hidden;
}

.slider-products .products .product a {
    text-decoration: none;
    color: var(--black-color);
}

.slider-products .products .product .image img {
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.slider-products .products .product .content {
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.slider-products .products .product .content .title {
    font-size: 1.125rem;
    font-weight: 700;
    color: #666666;
}

.slider-products .products .product .content .price {
    text-indent: 13px;
    direction: rtl;
    text-align: right;
    font-weight: 900 !important;
    color: black;
}

.slider-products .products .product .content .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
}

.slider-products .products .product .content .buttons button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--black-color);
}

.slider-products .products .product .content .buttons button i {
    -webkit-text-stroke: 1px;
}

section.categories {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

section.categories .container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -120px;
}

section.categories .container .category {
    height: 400px;
    width: 300px;
    margin: 15px;

}

section.categories .container .category a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: 0.3s;
}
section.categories .container .category a:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

section.categories .container .category a p {
    text-align: center;
    color: black;
    font-size: 18px;
    padding-top: 10px;
}

section.categories .container .category a img {
    object-fit: cover;
    background-color: #eee1b37b;
    border-radius: 20%;
    width: 100%;
    height: 300px;
}

main section.categories .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.categories .title h3 {
    position: relative;
    z-index: 2;
    margin: auto;
}

main section.categories .title img {
    position: relative;
    top: -133px;
    width: 200px;
    opacity: 0.3;
    margin: auto;
    z-index: 0;
}

main section.top-sellers {
    margin-top: -60px;
}

section.offers {
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
}

section.offers a {
    overflow: hidden;
    position: relative;
    flex-basis: 50%;
    transition: 0.3s;
    text-decoration: none;
}

section.offers a:hover p {
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}

section.offers a:hover .spot {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    transition: 0.3s;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.381);
}

section.offers .cover {
    position: relative;
}

section.offers .cover img {

    z-index: -1;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

section.offers a p {
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    bottom: -50px;
    z-index: 2;
    color: #fff;
    transition: 0.5s;
    left: 50%;

    transform: translateX(-50%) translateY(50%);
}

section.offers a p span {
    font-weight: 900;
    color: var(--main-color);
}

section.featuers {
    margin-top: 100px;
}

div.featuers {
    position: relative;
    top: -100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

section.featuers .featuer {
    margin: 0 50px;
    position: relative;
    width: 300px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: end;
}

section.featuers .featuer .blob-icon svg {
    position: absolute;
    width: auto !important;
    top: 0;
    left: 30px;
    opacity: 1 !important;
    height: 230px;

}

section.featuers .featuer .icon i {
    font-size: 100px;
    position: absolute;
    left: 90px;
    top: 40px;
    z-index: 1;
    color: var(--black-color);
}

section.featuers .featuer p {
    font-weight: 900;
    font-size: 20px;
}

footer {
    width: 100%;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 40vh;
}

footer p,
footer h2 {
    margin: 0;
}

footer .column {
    padding: 30px;
    padding-top: 60px;
    flex-basis: 17%;
}

footer .column.site {
    display: flex;
    flex-direction: column;
    align-items: end;
}

footer .column h2,
footer i {
    color: var(--main-color);
}

footer .column p,
a {
    text-decoration: none;
    color: #f3f3f3;
}

footer .column.site p {
    direction: rtl;
    margin-right: 13px;
    margin-top: 10px;
    color: var(--main-color);

}

footer .column.site p.subtitle {
    color: #f3f3f3;
}

footer .column .logo img {
    width: 200px;
    border-radius: 100px;
}

footer .column.short-links,
footer .column.myaccount,
footer .column.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    direction: rtl;
    font-size: 17px;
}

footer .column a {
    font-size: 15px;
}

footer a:hover {
    color: var(--main-color);
}

footer .contact i {
    font-size: 25px;
}

footer .contact div {
    display: flex;
}

footer .contact div p {
    margin: 0 20px;
}


.payment-methods {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px 0px;
}

.payment-methods h2 {
    text-align: center;
    margin: 62px;
}

.payment-methods .container {
    display: flex;
    justify-content: space-evenly;
}

.payment-methods .container img {
    height: 150px;
    transition: 0.2s;
    transform: scale(1);
}

.payment-methods .container img:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.payment-methods .total {
    background-color: var(--main-color);
    width: 200px;
    height: 100px;
    margin: auto;
    margin-top: 80px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-methods .total p {
    direction: rtl;
    text-align: center;
    margin: 5px;

}

.payment-methods .total p:nth-child(2) {
    margin: 0;
    background: #fff;
    border-radius: 12px;
    width: 50%;
    padding: 5px 0px;
}

.card-details {
    margin: auto;
    margin-top: 50px;
    padding: 100px 0px;
    transform: translateY(-20px);
}

.card-details form .forms {
    display: flex;
    flex-direction: column;
}

.card-details form .forms .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    direction: rtl;
    margin: 10px;
}

.card-details form .forms .row>div {
    display: flex;
    width: auto !important;
    flex-direction: column;
}

.card-details form .forms .row>div input {
    width: 300px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid #c6c6c6;
    text-indent: 3px;
    font-size: 16px;
    letter-spacing: 1.5px;
    outline-color: var(--secondry-color);
}

.card-details img {
    position: relative;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;

}

.card-details form {
    padding-top: 100px;
    border-radius: 20px;
    height: 350px;
    width: 75%;
    margin: auto;
    background-color: #FCFCE8;
}

.card-details form .pay-button {
    display: flex;
    justify-content: center;
}

.card-details form .pay-button button {
    width: 150px;
    margin: 20px;
    border: none;
    background-color: #0c0c0c;
    color: #fff;
    height: 35px;
    border-radius: 7px;
}

.card-details form .pay-button #pay {
    background-color: var(--secondry-color);
}

.hide {
    display: none;
}

.fade-out {
    animation: fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fade-in {
    animation: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0.1;
        transform: translateY(-20px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.hide {
    display: none;
}

body>.cart,
body>.favourit {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100vh;
    width: 25%;
    background-color: white;
    transform: translateX(400px);
    animation-name: slide-menu;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 20px rgb(78, 78, 78);
}

@keyframes slide-menu {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0px);
    }
}

body>.cart .nav,
body>.favourit .nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 1px solid rgb(120, 120, 120);
}

body>.cart .nav .right button,
body>.favourit .nav .right button {
    background-color: transparent;
    border: none;
}

body>.cart .nav .right button i,
body>.favourit .nav .right button i {
    font-size: 30px;
}

body>.favourit .nav .left i,
body>.cart .nav .left i {
    font-size: 25px;
    margin: 5px;
    -webkit-text-stroke: 1px;
    color: var(--secondry-color);
}

body>.favourit .products,
body>.cart .products {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 500px;
}

body>.cart .products .product,
body>.favourit .products .product {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
    align-items: e;
}

body>.cart .products .product .price {
    /* direction: inherit; */
    direction: rtl;
    margin-top: 25px;
}

body>.favourit .products .product .delete,
body>.cart .products .product .delete {
    background-color: transparent;
    border: none;
    outline: none;
}

body>.favourit .products .product p {
    align-self: center;
    margin: 0;
}

body>.favourit .products .product img,
body>.cart .products .product img {
    max-height: 80px;
}

body>.cart .products .product .qty .qty-control button {
    background-color: var(--secondry-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    width: 20px;
}

body>.cart .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(120, 120, 120);
}

body>.cart .footer .checkout {
    /* direction: rtl; */
    width: 90%;
    margin: 30px;
    height: 40px;
    background-color: var(--secondry-color);
    color: #fff;
    font-size: 18px;
    border: none;
}

.navigation-bar {
    display: none;
}
.slide-out{
    transform: translateX(-400px);
    transition: 0.5s;
}

@media only screen and (max-width: 700px) {
    section.categories .container {
        top: -145px;
    }

    section.categories {
        margin-top: 0px;
    }

    body>.cart,
    body>.favourit {
        width: 100% !important;
        height: 78vh;
        transform: translateY(100vh);
    }

    @keyframes slide-menu {
        from {
            transform: translateY(100vh);
        }

        to {
            transform: translateY(0);
        }
    }

    .navigation-bar {
        display: block;
        position: fixed;
        z-index: 999999;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #eee1b3e8;
        width: 98%;
        margin: 10px 0px;
        border-radius: 50px;
        padding-top: 10px;

    }

    .navigation-bar .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .navigation-bar .container a {
        color: #1a270d;
        text-decoration: none;
        font-size: 15px;
        font-weight: 900;
    }

    .navigation-bar .container i {
        font-size: 30px;
        -webkit-text-stroke: 1px;
        color: #1a270d;
    }

    .navigation-bar .container .btn-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        font-size: 15px;
        font-weight: 900;
        background-color: transparent;
        color: #1a270d;

    }

    nav .main .third {
        display: none;
    }

    nav .main .part .search form input {
        width: 130px;
    }

    nav .main .part img {
        height: 50px;
    }

    nav .main .part .search form button {
        width: 40px;
    }

    nav .secondry {
        display: none;
    }

    #myCarousel {
        top: 70px;
        height: auto !important;
    }

    #myCarousel .carousel-item img {
        height: auto !important;
        width: 100% !important;
    }

    section:nth-child(1) {
        margin-top: 65px;
    }

    .slider-products .products .product {
        width: 125px;
        display: flex;
        min-width: 125px;
        flex-direction: column;
        margin: 0 2vh;
        border: 2px solid var(--main-color);
    }

    .slider-products .products .product .image img {
        height: 100px;
    }

    .slider-products .products .product .content .title {
        font-size: 0.9rem;
    }

    .slider-products .products .product .content .price {
        font-size: 0.8rem;
    }

    .slider-products .products .product .content .buttons button {
        font-size: 10px;
        padding: 0;
    }

    section .container>button.right {
        right: 12px;
        top: -42px;
    }

    section .container>button.left {
        left: 12px;
        top: -42px;
    }

    section .container>button {
        width: 20px;
        height: 100px;
    }

    .slider-products .products .product .content {
        height: 88px;
    }

    section.categories .container .category a img {
        height: 100px;
    }

    main section.top-sellers {
        margin-top: -290px;
    }

    section.categories .container .category a p {
        font-size: 14px;
    }

    section.offers .cover img {
        height: 170px;
    }

    section.featuers .featuer .icon i {
        font-size: 50px;
        left: 40px;
    }

    section.featuers .featuer p {
        position: absolute;
        top: 120px;
        font-size: 15px;
        text-align: center;
    }

    section.featuers .featuer {
        margin: 0;
        height: 200px;
    }

    section.featuers .featuer .blob-icon svg {
        position: absolute;
        width: auto !important;
        top: 20px;
        left: 12px;
        opacity: 1 !important;
        height: 105px;
    }

    svg:nth-child(1) {
        position: absolute;
        top: 13px;
        left: -147px;
        width: 300px;
    }

    svg:nth-child(2) {
        position: absolute;
        top: 1388px;
        left: 16px;
        width: 317px;
    }

    svg:nth-child(3) {
        position: absolute;
        top: 1508px;
        left: -100px;
        width: 300px;
    }

    svg:nth-child(4) {
        display: none;
    }

    footer {
        height: 80vh;
        padding: 23px;
        padding-bottom: 162px;
        justify-content: space-between;
    }

    footer .column {
        padding: 0;
        width: 50%;
        flex-basis: 45%;
        padding-top: 30px;
    }

    footer a,
    footer p {
        font-size: 12px !important;
    }

    footer .column h2,
    footer i {
        font-size: 16px;
    }

    footer .contact i {
        font-size: 18px;
    }

    footer .column .logo img {
        width: 130px;
    }

    .slider-products .products .product .content .buttons button i {
        -webkit-text-stroke: 1px;
        font-size: 14px;
    }

    .payment-methods .container {
        flex-wrap: wrap;
    }
    .payment-methods .container a{
        margin: 10px;
    }
    .payment-methods .container img {
        width: 100px;
        height: auto;
    }
    .payment-methods {
        margin-top: 0;
    }
    .card-details img{
        height: 100px;
    }

    .card-details form{
        width: 100%;
        height: 70vh;
    }
    .card-details form .forms .row>div input {
        width: 100%;
    }
    .card-details {
        margin: auto;
        margin-top: 20px;
        padding: 50px 0px;
    }
    footer .column.site {
        margin-right: -14px;
    }
}

@media only screen and (max-width: 400px) {
    .navigation-bar {
        margin-bottom: 20px;
    }

    .navigation-bar .container .btn-bar,
    .navigation-bar .container a {
        font-size: 12px;
    }

    .navigation-bar .container i {
        font-size: 25px;
    }

}